Source: cgroups-explorer
Section: user/utilities
Priority: extra
Maintainer: Tommi Rantala <tt.rantala@gmail.com>
Build-Depends: debhelper (>= 7), libqt4-dev, applauncherd-dev, pkg-config
Standards-Version: 3.9.1

Package: cgroups-explorer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt-components, applauncherd-invoker
Description: Interactive Control Groups Explorer
 Dig under the hood of your N9 device, and explore the Control Groups enforced
 by the operating system.

Package: cgroups-explorer-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, cgroups-explorer (= ${binary:Version})
Description: debugging symbols for cgroups-explorer
 Contains the debugging information for the cgroups-explorer package.
